#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.navButton {
    font-size: 15pt !important;
    margin-left: 15px;
    margin-right: 5px;
}

#navbarLeft {
    padding-top: 1px;
    padding-left: 10px;
}

#navbarRight {
    padding-top: 15px;
}