#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

#loginLink, #signupLink {
    padding: 15px;
    padding-top: 0px;
    font-size: 15pt;
}

#loginLink {
    color: white;
}

#signupLink {
    color: var(--pink);
}



#navbarLeft {
    padding-top: 15px;
    padding-left: 15px;
}

#navbarRight {
    padding-top: 4px;
}