<div style="text-align:center;">
    <div style="max-width: 400px; display:inline-block; text-align: left;">
        <nav>
            <img src="{{{hostAddress}}}/logo.png" alt="in a long time logo"></img>
        </nav>
        <h3>Reset your password.</h3>
        <p>To reset your password please, click the button below. 
        If you didn't request this, safely disregard this email.</p>
        <button style="background-color:purple; color:white; border:0px; padding:10px; border-radius:5px; !important">
            <a href="{{{hostAddress}}}/api/auth/login-with-token?token={{{token}}}&id={{{id}}}"
            style="color:white !important; text-decoration:none !important;"
            onMouseOver="this.style.color='white'"
            onMouseOut="this.style.color='white'">Reset password</a>
        </button>
    </div>
</div>