<div>
    <nav>
        IN A LONG TIME
    </nav>
    <h3>Reset your password.</h3>
    <p>To reset your password please, click the button below. 
        If you didn't request this, safely disregard this email.</p>
    <button>
        <a href="{{{hostAddress}}}/api/auth/login-with-token?token={{{token}}}&id={{{id}}}">Reset password</a>
    </button>
</div>