<div>
    <nav>
        IN A LONG TIME
    </nav>
    <h3>The {contentType} you sent has not been viewed!</h3>
    <p>On {dateString}, you sent {personName} a {contentType}. However, they haven't opened it yet. Click on the button below to see what you sent and possibly send it yourself.</p>
    <button>
        <a href="{{{hostAddress}}}/api/future/{{{id}}}">View {contentType}</a>
    </button>
</div>