#form {
    margin: 0 auto;
    display: block;
    width: 85%;
    max-width: 600px;
    margin-top: 10vh;
}

#container {
    margin-top: 20px;
}

#container > div {
    margin-bottom: 13px;
}

#container > p {
    font-size: 11pt;
}

.centeredDiv {
    width: 85%;
    max-width: 600px;
    margin-top: 10px !important;
}
