#mainDiv {
    width: 900px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#mainDiv > h2 {
    font-size: 25pt;
    margin-bottom: 0px;
}

#autosavedMessage {
    margin-top: 5px;
    font-size: 13pt;
}

#mainDiv h3 {
    font-size: 19pt;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.headerCollapseRow {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerCollapseRow > span {
    cursor: pointer;
}

#previewURL {
   display: inline-block;
   border-radius: 5px;
   font-weight: 500;
   cursor: pointer;
   color: white;
   margin-bottom: 0px;
   margin-top: 0px;
}

#previewURL > a {
    color: lightcyan;
}

.step {
    display: inline-block;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.step.active {
    background-color: var(--pink);
    cursor:unset;
}