.btn-primary, .btn-secondary, .btn-info {
    padding: 0.2em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-width: 0.3em;
    border-style: solid;
    border-radius: 10px;
}

.btn-primary {
  background-color: white;
  color: black;
  font-weight: 500;
  border-color: white;
}

.btn-primary a, .btn-primary a:hover, .btn-primary a:visited {
  color: black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: white;
  color: black;
  box-shadow: none;
  border-width: 0.3em;
  border-style: solid;
  border-color: white;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  font-weight: 500;
  border-color: white;
}

.btn-secondary a, .btn-secondary a:hover, .btn-secondary a:visited {
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:focus {
  box-shadow: none;
  border-width: 0.3em;
  border-style: solid;
  border-color: white;
  background-color: transparent;
}

.btn-info {
    background-color: #F8ACFF;
    color: black;
    font-weight: 500;
    border-color: #F8ACFF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:active:focus {
  box-shadow: none;
  border-width: 0.3em;
  border-style: solid;
  border-color: #F8ACFF;
  background-color: #F8ACFF;
}
