@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=DM+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(116.82deg, #5F00FA 0%, #C808D9 100%);
}

:root {
  --faded-black: rgba(0, 0, 0, 0.6);
  --pink: #F8ACFF;
  --purple: #5F00FA;
  --gradient-finish: #C808D9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fillPage {
  width: 100%;
  margin: 0;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.fillContainer {
  width: 100%;
  margin: 0;
  position: relative;
  height: 100%;
}

.block-centered {
  margin: 0 auto;
  display: block;
}

.logo {
  font-family: 'Bungee Inline', cursive;
  font-size: 22pt;
  color: white;
}

.superRounded {
  border-radius: 100000px !important;
}

.pinkText {
  color: var(--pink);
}

.whiteText {
  color: white;
}

.gradientFinishText {
  color: var(--gradient-finish);
}

a, a:hover, a:visited {
  text-decoration: none;
}

a.pinkText, a.pinkText:hover, a.pinkText:visited {
  text-decoration: none;
  color: var(--pink);
}

input:focus, textarea { outline: none ! important; }

.popover[data-popper-placement="bottom-start"] .popover-arrow {
  transform: translate3d(30px, 0, 0) !important;
}

