#mainDiv {
    width: 1000px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#mainDiv > h2 {
    font-size: 25pt;
    margin-bottom: 30px;
}

#futureText {
    font-weight: 600;
}

#grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 40px;
}

#mainDiv > h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 1150px) {
    #mainDiv {
        margin-top: 30px;
    }

    #grid {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    #mainDiv > h2 {
        font-size: 20pt;
    }
}