.step {
    display: inline-flex;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.step svg {
    margin-left: 10px;
}

.step.active {
    background-color: var(--pink);
    cursor:unset;
}

@media (max-width: 600px) {
    .step  {
        margin-right: 10px;
    }
}